# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
# If you have a Prisma schema
prisma/migrations/
# Ignore the generated Prisma client as it gets regenerated
@prisma/client/

# Build directory
/dist/
/build/

# IDE and Editor Folders
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Optional: if you have a frontend part in the same repo
# and you want to ignore its build output
# /path_to_frontend_build_folder/
localStorage/dataStore/